
<html lang="en">
    <head>
        <title>Voice Activated LttP Networked Item Tracker</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css?20171029" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

        <script src="/__/firebase/4.2.0/firebase-app.js"></script>
        <script src="/__/firebase/4.2.0/firebase-auth.js"></script>
        <script src="/__/firebase/4.2.0/firebase-database.js"></script>
        <script src="/__/firebase/init.js"></script>
        <script src="/script/shared.js?20181001"></script>
        <script src="/script/items.js?20181001"></script>
        <script src="/script/chests.js?20181001"></script>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="/script/annyang.min.js"></script>
        <script src="/script/jquery-3.3.1.min.js"></script>
        <script src="/script/voice.js"></script>
    </head>

    <body>
        <div id='createRoomPanel'>
            <p>Either the room is still loading or there is not a room here.</p>
            <p>Click the button below to initialize a room.</p>
            <p>Be sure to give it a passcode so you can give access to others or yourself on another machine or after a cookie reset.</p>
            <p>Don't use a real password here. I'm not going to guarantee the security of your passcode</p>
            <p>Room Editing Passcode: <input type="text" name="passcode" id="passcodeInput" /></p>
            <p><button type="button" name="initRoom" id="initRoomButton" onclick="createRoom()">Create Room</button></p>
        </div>
        <!-- Setting panel-->

        <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                    <a href="javascript:$('.menu-item').slideUp();$('#settings-itemtracker').slideDown();"><li>Item Tracker</li></a>
                    <div id="settings-itemtracker" class="menu-item">
                    <button type="button" onclick="EditMode()">Edit Mode</button>
                    <br>
                    Size<input type="range" name='itemdivsize' value='100' max='200' min='1' onchange="setZoom('itemdiv', this)">
                    <span id='itemdivsize'>100%</span><br>
                    Dungeon Display
                    <br>
                    <span><input type="checkbox" name="showchest" checked='checked' onchange="showChest(this)">Chests</span>
                    <span><input type="checkbox" name="showcrystal" checked='checked' onchange="showCrystal(this)">Prizes</span>
                    <span><input type="checkbox" name="showmedallion" checked='checked' onchange="showMedallion(this)">Medals</span>
                    <span><input type="checkbox" name="showbigkeys" checked='checked' onchange="showbigkeys(this)">Big Keys</span>
                    <span><input type="checkbox" name="showsmallkeys" checked='checked' onchange="showsmallkeys(this)">Small Keys</span>
                    <span><input type="checkbox" name="showlabel" checked='checked' onchange="showLabel(this)">Dungeon Labels</span>
                </div>
                <a href="javascript:$('.menu-item').slideUp();$('#settings-maptracker').slideDown();"><li>Map Tracker</li></a>
                <div id="settings-maptracker" class="menu-item">
                    <input type="checkbox" name="showmap" checked='checked' onchange="showTracker('mapdiv', this)">Enabled<br>
                    Size<input type="range" name='mapdivsize' value='100' max='200' min='1' onchange="setZoom('mapdiv', this)">
                    <span id='mapdivsize'>100%</span><br>
                    Position:
                    <input type='radio' name='mapposition' value='Below' checked='checked' onclick="setOrder(true)">Below
                    <input type='radio' name='mapposition' value='Side' onclick="setOrder(false)">Side<br>
                    Orientation:
                    <input type='radio' name='maporientation' value='Horizontal' checked='checked' onclick="setMapOrientation(false)">Horizontal
                    <input type='radio' name='maporientation' value='Verical' onclick="setMapOrientation(true)">Vertical<br>
                    Logic Options
                    <input type='radio' name='maplogic' value='glitchless' checked='checked' onclick='setLogic("glitchless")'>Glitchless<br>
                    <input type='radio' name='maplogic' value='owGlitches' onclick='setLogic("owGlitches")'>Overworld Glitches<br>
                    <input type='radio' name='maplogic' value='majorGlitches' onclick='setLogic("majorGlitches")'>Major Glitches<br>
                    <input type='radio' name='maplogic' value='inverted' onclick='setLogic("inverted")'>Inverted
                    Chest Legend
                    <table border="0" cellspacing="0">
                        <tr>
                            <th class="available">Available</th>
                            <th class="glitchavailable">Glitch Available</th>
                        </tr>
                        <tr>
                            <th class="possible">Possible</th>
                            <th class="glitchpossible">Glitch Possible</th>
                        </tr>
                        <tr>
                            <th class="agahnim">Agahnim Defeated</th>
                            <th class="glitchagahnim">Glitch Agahnim</th>
                        </tr>
                        <tr>
                            <th class="unavailable">Unavailable</th>
                            <th class="opened">Opened</th>
                        </tr>
                    </table>
                </div>   
                <a href="javascript:$('.menu-item').slideUp();$('#settings-voicesettings').slideDown();"><li>Voice Settings</li></a>           
                <div id="settings-voicesettings" class="menu-item">
                    <input type="checkbox" name="toggleVoice" id="toggleVoice" onchange="toggleVoice();">Start Voice Tracking<br><br>
                    <input type="text" name="lastHeard" id="lastHeard"><span>Last Heard Command</span><br><br>
                    <select name="mapToGrammar" id="mapToGrammar"></select>
                    <button type="button" name="savegrammar" id="savegrammar" onclick="saveGrammar($('#lastHeard').val(),$('#mapToGrammar').val());">Save Grammar</button>
                </div>
                <a href="javascript:$('.menu-item').slideUp();$('#settings-roomcontrols').slideDown();"><li>Room Controls</li></a>
                <div id="settings-roomcontrols" class="menu-item">
                    <input type="text" name="entryPasscode" id="entryPasscodeInput" />
                    <button type="button" name="enterPasscode" id="enterPasscodeButton" onclick="enterPasscode()">Enter Passcode</button>
                    <div id="editorControls">
                        <button type="button" name="resetRoom" id="pushConfigButton" onclick="confirmSaveConfigToFirebase()">Push Configuration</button>
                        <br><br>
                        <button type="button" name="destroyRoom" id="useTourneyConfigButton" onclick="useTourneyConfig()">Use Tourney Configuration</button>
                        <br><br>
                        <button type="button" name="resetRoom" id="resetRoomButton" onclick="resetFirebase()">Reset Room</button>
                        <br><br>
                        <button type="button" name="destroyRoom" id="destroyRoomButton" onclick="destroyFirebase()">Destroy Room</button>
                    </div>
                </div>
            </nav>
        <div id='layoutdiv'>
            <div id='itemdiv' class='itemdiv'>
                <tracker-table v-if="displayVueMap" :item-rows="itemRows" :tracker-data="trackerData" :tracker-options="trackerOptions"></tracker-table>
            </div>
            <div id='mapdiv' class='mapdiv'>
            </div>
            <div id="alert" class="alert">
            </div>
        </div>
        <div width='100%' id="caption" align='center'>
            &nbsp;
        </div>



        <table id='itemconfig' class='itemconfig' style='display:none'></table>


        <footer style='bottom:0; width:100%; text-align: right; position: absolute; color:grey;pointer-events: none;'>Lttp Voice Activated Networked Rando Tracker -
            WaideSoper (Based on @pickfifteen, crossproduct, SRL, marcmagus)
        </footer>

        <script type="text/x-template" id="tracker-table">
            <div class="vueTrackerTable" :style="">
                <div v-for="(itemRow, itemRowIndex) in itemRows" :key="itemRowIndex">
                    <div :style="{ width: (maxRowLength - itemRow.length) * 32 + 'px', display:'inline-block' }" class="rowSpacer"></div>
                    <tracker-cell v-for="(item, itemColumnIndex) in itemRow" :itemName="item" :itemValue="itemFor(item)"
                    :column-index="itemColumnIndex" :row-index="itemRowIndex"
                    :tracker-data="trackerData" :tracker-options="trackerOptions" :key="itemColumnIndex + '-' + itemRowIndex"></tracker-cell>
                    <button v-if="trackerOptions && trackerOptions.editmode" @click.prevent.stop="removeItem(itemRowIndex)"
                        :style="{backgroundColor: 'red', color: 'white', verticalAlign: 'top', marginTop: '20px'}">-</button>
                    <button v-if="trackerOptions && trackerOptions.editmode" @click.prevent.stop="addItem(itemRowIndex)"
                        :style="{backgroundColor: 'green', color: 'white', verticalAlign: 'top', marginTop: '20px'}">+</button>
                </div>
                <button v-if="trackerOptions && trackerOptions.editmode" @click.prevent.stop="addRow">Add row</button>
            </div>
        </script>

        <script type="text/x-template" id="tracker-cell">
            <div :style="{ height: '64px', width: '64px', display:'inline-block', backgroundImage: backgroundImage, position: 'relative' }"
             :class="isActive ? 'true' : 'false'" @click.stop="clickCellForward" @contextmenu.prevent.stop="clickCellBack">
                <span v-if="dungeonLabel" class="corner" :style="{ display: 'block', position: 'absolute'}">{{ dungeonLabel }}</span>
                <span v-if="textCounter !== null" class="textCounter">{{ textCounter }}</span>
                <span v-if="chestImage" @click.stop="clickChestBack" @contextmenu.prevent.stop="clickChestForward" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', top: '32px', backgroundImage: chestImage }"></span>
                <span v-if="bigKeyImage" @click.stop="clickBigKey" @contextmenu.prevent.stop="clickBigKey" :style="{ display: 'block', position: 'absolute', height: '32px', width: '16px', top: '32px', backgroundImage: bigKeyImage }"></span>
                <span v-if="smallKeyImage" @click.stop="clickSmallKeyForward" @contextmenu.prevent.stop="clickSmallKeyBack" :style="{ display: 'block', position: 'absolute', height: '32px', width: '16px', top: '32px', left: '16px',  backgroundImage: smallKeyImage }"></span>
                <span v-if="prizeImage" @click.stop="clickPrizeForward" @contextmenu.prevent.stop="clickPrizeBack" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', top: '32px', left: '32px', backgroundImage: prizeImage }"></span>
                <span v-if="medallionImage" @click.stop="clickMedallionForward" @contextmenu.prevent.stop="clickMedallionBack" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', left: '32px', backgroundImage: medallionImage }"></span>
            </div>
        </script>
        <script src="/script/main.js?20180201"></script>
        <script>
            init(initTracker);
        </script>
    </body>
</html>

